.about__wrapper {
  display: flex;
  padding: 120px 0 90px;
  justify-content: space-around;
  align-items: center;
  @include media-big-tablet {
    flex-wrap: wrap;
    padding: 60px 0;
  }
}

.about__logo {
  max-width: 50%;

  @include media-big-tablet {
    max-width: 100%;
  }
}

.about__content {
  max-width: 50%;
  text-align: center;
  @include media-tablet {
    max-width: 100%;
    padding: 0 10px;
  }
}

.about__title {
  @include font($size: 2.2rem);
  @include media-big-tablet {
    padding-top: 30px;
  }
}
.about__subtitle {
  padding-top: 25px;
  @include font($size: 1.6rem);
  @extend %font-add;
}
