.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  @include media-big-tablet {
    flex-wrap: wrap;
  }
}

.contacts__container {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  @include media-tablet {
    text-align: center;
    @include font($size: 1.7rem);
  }
}

.contacts__inf {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include media-big-tablet {
    order: 2;
  }
}

.contacts__title {
  @extend %font-prim;
  @include font($size: 4rem);
  @include media-tablet {
    max-width: 100%;
    @include font($size: 2.8rem);
  }
}

.contacts__form {
  width: 50%;
  @extend %font-add;
  @include font($size: 1.5rem);
  @include media-big-tablet {
    order: 1;
    width: 100%;
    padding: 0 15px;
  }
}

.contacts__addres {
  @include font($size: 1.5rem, $height: 2.8rem);
}

label {
  display: block;
}
input {
  width: 100%;
  background-color: black;
  padding: 15px 5px;
  color: white;
  border-color: white;
  &::placeholder {
    color: white;
    opacity: 1;
  }
  &:invalid {
    border-color: rgb(255, 64, 64);
  }
  &[type='submit'] {
    float: right;
    background-color: white;
    color: black;
    max-width: 138px;
    text-decoration: none;
    margin: 15px 0;
    @include media-tablet {
      max-width: 100%;
    }
  }
}

textarea {
  @extend %font-add;
  @include font($size: 1.5rem, $height: 1.5em);
  width: 100%;
  height: 110px;
  background-color: black;
  border-color: white;
  color: white;
  display: block;
  padding: 15px 5px;
  &::placeholder {
    color: white;
    opacity: 1;
  }
}

.phone__link {
  display: block;
  &:hover {
    text-decoration: underline;
  }
}

.email-link:hover {
  text-decoration: underline;
}

.contacts__name {
  font-weight: 400;
}

.show-details {
  cursor: pointer;
  text-decoration: underline;
}
