.main__title {
  @include font($size: 7.2rem, $height: 1.5em);
  text-align: center;
  padding: 62px 0 25px;
  @include media-big-tablet {
    @include font($size: 5.2rem);
  }
  @include media-tablet {
    @include font($size: 3.2rem);
  }
}

.main__subtitle {
  @include font($size: 2rem, $height: 1.67em);
  text-align: center;
  padding-bottom: 20px;
  @include media-big-tablet {
    @include font($size: 1.5rem);
  }
}
