@mixin font($size, $height: 1.5em, $weight: 400, $style: normal, $spacing: 0) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin flex($direction: row) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin media-big-tablet {
  @media (max-width: $tablet-big-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-big-mobile {
  @media (max-width: $mobile-big-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
